html {
  background-color: antiquewhite;
}
header {
  background-color: #003459;
  display: flex;
  position: absolute;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 30px;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

#page-logo a {
  text-decoration: none;
  padding: 10px;
  font-family: "Oleo Script", sans-serif;
  color: rgb(245, 243, 160);
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

header ul {
  display: flex;
}

.header_lists {
  list-style: none;
  margin-right: 50px;
  font-size: 18px;
  font-family: "Kanit", sans-serif;
}

.header_lists a {
  margin-left: 30px;
  color: white;

  text-decoration: none;
}

.header_lists a:hover {
  color: yellow;
  background-color: #003459;
  border-radius: 8px;
  text-decoration: none;
}

main {
  position: relative;
  top: 150px;
  display: flex;
  justify-content: space-around;
}

#profile {
  width: 300px;
  height: 500px;
  border: 5px solid black;
}
#img_contact {
  display: flex;
  justify-content: space-aro;
  border-bottom: 2px solid black;
}
#img_contact img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 5px 5px;
}

#profile_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  font-family: "Kanit", sans-serif;
}

#main_flow {
  width: 500px;
  height: 500px;
  border: 5px solid #003459;
}
#My_Posts h2 {
  text-align: center;
  font-size: 35px;
  color: darkolivegreen;
  font-family: "Courier New", Courier, monospace;
}

#my_posts_list {
  list-style: none;
}
#my_posts_list img {
}
