main {
  position: relative;
  top: 150px;
  display: flex;
  justify-content: space-around;
  max-width: 90%;
}

#profile {
  width: 300px;
  height: 500px;
  border: 5px solid rgb(193, 187, 187);
  border-radius: 10px;
}
#img_contact {
  display: flex;
  justify-content: space-aro;
  border-bottom: 2px solid rgb(189, 186, 186);
}
#img_contact img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 5px 5px;
}

#profile_info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  font-family: "Kanit", sans-serif;
}
